[submodule "web/template"]
	path = web/template
	url = https://github.com/tonyblundell/pandoc-bootstrap-template.git
[submodule "web/public/templates/pandoc-md2html-template"]
	path = web/public/templates/pandoc-md2html-template
	url = https://github.com/shosatojp/pandoc-md2html-template.git
